# rename this file to .env and adapt it to your needs
# do not put this file in your git, it will expose your passwords!
# in github use github secrets: https://docs.github.com/en/actions/security-guides/encrypted-secrets

######### SERVER CONFIGURATION #########
PORT=8080

######### DATABASE CONFIGURATION #########
DB_DRIVER=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=go_mcp_notes_db_schema
DB_USER=go_mcp_notes_db_schema
DB_PASSWORD=Choose_your_own_password_here
DB_SSL_MODE=prefer

######### JSON WEB TOKEN CONFIGURATION #########
JWT_SECRET="Use your nice and complicated token here"
JWT_ISSUER_ID=2490AD68-3AA9-4C17-BB49-33C2F202B754
JWT_CONTEXT_KEY=yourContextKey
JWT_DURATION_MINUTES=15
JWT_AUTH_URL=/login
JWT_STATUS_URL=/status

######### ADMIN USER #########
ADMIN_USER=goadmin
ADMIN_EMAIL=goadmin@yourdomain.org
ADMIN_ID=960901
ADMIN_PASSWORD=Choose_your_own_admin_password_here

######### LOG CONFIGURATION #########
# LOG_FILE: string containing the filename, OR stdout, stderr, DISCARD. default: stderr
LOG_FILE=stderr
# LOG_LEVEL: debug, info, warn, error, fatal (or 0-4)
LOG_LEVEL=info
